@model List<MainIndex>

<table class="words">
    <caption>Всего слов: @ViewBag.WordsCount</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Наименование</th>
            <th>Время создания</th>
            <th>Тип слова</th>
            <th></th>
            <th>Количество ссылок</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.CreateTime</td>
                    @if(item.WordTypeName?.Length>10)
                    {
                        int l = item.WordTypeName.Length;
                        if(l>17)
                        {
                            <td>@item.WordTypeId - @item.WordTypeName.Substring(0,17)...</td>
                        }
                        else
                        {
                            <td>@item.WordTypeId - @item.WordTypeName.Substring(0,l)</td>
                        }
                    }
                    else
                    {
                        <td>@item.WordTypeId - @item.WordTypeName</td>
                    }
                    <td><a href="/Home/EditWord/@item.Id"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                    <td class="link-count">@item.Count</td>
                </tr>
            }
        }
    </tbody>
</table>

<div style="display:inline-flex;">
@for(var i = 1; i < ViewBag.PagesCount; i++)
    {
        if (i == ViewBag.SelectedPage)
        {
            <div class="page selected-page" data-page-number="@i">@i</div>
        }
        else
        {
            <div class="page" data-page-number="@i">@i</div>
        }
    }
</div>
