

<div>
    <p>Id: <span>@Model.Id</span></p>
    <p>Слово: <span class="word-name">@Model.Name</span></p>
    <p>Время создания: <span class="createtime">@Model.CreateTime</span></p>
    <p>
        <a href="/Home/EditWordName" class="edit-word" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#editWordNameModal">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
    </p>
   @* <table class="table-word">
        <thead>
            <tr>
                <th>Id</th>
                <th>Слово</th>
                <th>Время создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td class="word-name"></td>
                <td class="createtime"></td>
                <td>
                    <a href="/Home/EditWordName" class="edit-word" data-id="@Model.Id" data-bs-toggle="modal" data-bs-target="#editWordNameModal">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>*@
   @* <p>Id: @Model.Id Слово: <span class="word-edit">@Model.Name</span></p>
    <p>Время создания: @Model.CreateTime</p>*@

    <br />
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
    Добавить ссылку на Ютуб
</button>

    @foreach (var item in ViewBag.YLinks)
    {
        <p class="edit-links">
            Название: <span class="title">@item.Name</span>
            <br>
            Ссылка:
            <a href="@item.Url" class="video-link" data-id="@item.Id" target="_blank">@item.Url</a>
            <span>Время: @item.WordTime</span>
            <a href="/Home/EditYouLink/@item.Id" class="edit-link" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#editModal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a href="#" data-id="@item.Id" class="remove-link">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </a>
        </p>
    }
</div>

<!-- The Modal Youtube Link -->
<div class="modal" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/Home/EditYoutubeLink" class="form-horizontal" role="form" method="post" id="frmLink">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Редактирование ссылки</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3" style="display:none;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Id слова</span>
                        </div>
                        <input type="text" class="form-control" id="wordid-modal" name="wordid" value="@Model.Id" aria-label="word-id" aria-describedby="wordid">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Название видео/файла</span>
                        </div>
                        <input type="text" class="form-control" id="name-modal" name="name" value="" aria-label="word-name" aria-describedby="wordname">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Ссылка на Ютуб</span>
                        </div>
                        <input type="text" class="form-control" id="edit-link-modal" onchange="changeLink()" name="youtube" aria-label="youtube-url" aria-describedby="edit-link-modal">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Время, когда встречается слово</span>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" id="edit-time-modal" name="wordtime" aria-label="word-time" aria-describedby="edit-time-modal">
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- The Modal Edit Word Name -->
<div class="modal" id="editWordNameModal">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("EditWordName", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="modal-header">
                    <h4 class="modal-title">Редактирование слова</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="input-group input-group-sm mb-3" style="display:none;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Id</span>
                        </div>
                        <input type="text" class="form-control" id="id" name="id" value="@Model.Id" aria-label="word-name" aria-describedby="wordname">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Слово</span>
                        </div>
                        <input type="text" class="form-control" id="name" name="name" value="" aria-label="word-name" aria-describedby="wordname">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Время создания</span>
                        </div>
                        <input type="text" class="form-control" id="createtime" readonly name="createtime" aria-label="word-createtime" aria-describedby="word-createtime-modal">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
}
           @* <form action="/Home/EditWordName" class="form-horizontal" role="form" method="post" id="frmWord">

                <div class="modal-header">
                    <h4 class="modal-title">Редактирование слова</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                
            </form>*@

        </div>
    </div>
</div>