@using QazaqTili2.Controllers
@model EditWordModel

<div>
    <p>Id: <span>@Model.Word.Id</span></p>
    <p>Слово: <span class="word-name">@Model.Word.Name</span></p>
    <p>Время создания: <span class="createtime">@Model.Word.CreateTime</span></p>
    <p>
        <a href="/Home/EditWordName" class="edit-word" data-id="@Model.Word.Id" data-bs-toggle="modal" data-bs-target="#editWordNameModal">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
    </p>

    <br />
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
    Добавить ссылку на Ютуб
</button>

<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#uploadModal">
    Загрузить картинку
</button>

<button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#linkImageModal">
    Указать ссылку на картинку
</button>

    @foreach (var item in ViewBag.YLinks)
    {
        <p class="edit-links">
            Название: <span class="title">@item.Name</span>
            <br>
            Ссылка:
            <a href="@item.Url" class="video-link" data-id="@item.Id" target="_blank">@item.Url</a>
            <span>Время: @item.WordTime</span>
            <a href="/Home/EditYouLink/@item.Id" class="edit-link" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#editModal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a href="#" data-id="@item.Id" class="remove-link">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </a>
        </p>
    }

    @foreach (var file in ViewBag.Files)
    {
        <div>
            @*<a href="@Url.Content("~/")@file.Path" target="_blank">@file.Name</a>*@
            <img src="@Url.Content("~/")@file.Path" alt="@file.Name">
        </div>
    }

    @foreach(var item in ViewBag.ImageLinks)
    {
        <div>
            @Html.ActionLink("Слово "+@Model.Word.Name+" встречается здесь","EditWord","Home",new { Id = item.ParentWordId })
        </div>
    }
</div>

@await Html.PartialAsync("_youtubeLinkModal.cshtml", Model.Word)

@await Html.PartialAsync("_editWordModal.cshtml", Model.Word)

@await Html.PartialAsync("_uploadImageModal.cshtml", Model.Word)

@await Html.PartialAsync("_imageLinkModal.cshtml", Model.modelForDropDownWords, ViewData)