@model List<Word>

    <div class="row">
        <div class="col-md-3">
<!--Последние добавленные слова-->
<table class="analyt-10-last">
    <caption>10 последних добавленных слов</caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Слово</th>
            <th>Дата и время создания</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.CreateTime</td>
        </tr>
        }
    </tbody>
</table>
</div>
<!--Последние добавленные картинки-->
<div class="col-md-3">
    <table class="analyt-5-last-picture">
    <caption>5 последних добавленных картинок</caption>
    <thead>
        <tr>
            @*<th>ID</th>*@
            <th>Наименование картинки</th>
            <th>Дата и время загрузки</th>
            <th>Слово</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.LastImages)
        {
            <tr>
            @*<td>@item.Id</td>*@
            <td>@item.FileName</td>
            <td>@item.UploadTime</td>
            <td>@item.WordName</td>
        </tr>
        }
    </tbody>
</table>
</div>
<!--По буквам-->
<div class="col-md-3">
    <table class="analyt-5-last-picture">
    <caption>Кол-во слов по буквам</caption>
    <thead>
        <tr>
            <th>Буква</th>
            <th>Кол-во</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.ByLetters)
        {
            <tr>
            <td>@item.FirstLetter</td>
            <td>@item.Count</td>
        </tr>
        }
    </tbody>
</table>
</div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/analyt.css")" rel="stylesheet" type="text/css" />
}

@*@section Scripts {*@
    <script type="text/javascript" src="@Url.Content("~/js/analyt.js")"></script>
@*}*@